<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
    <title>Document</title>
</head>
<body>
    <a href="/users/logout">Logout</a>
    <% if (user && user.name) { %>
        <h1>Hello <%= user.name.charAt(0).toUpperCase() + user.name.slice(1) %></h1>
    <% } else { %>
        <h1>Hello Guest</h1>
    <% } %>
</body>
</html>